*
{
    margin: 0;
    padding: 0;

    border: none;
}
html
{
    font-family: 'Microsoft YaHei',sans-serif;
    font-size: 62.5%;
}
ol,
ul
{
    list-style: none;
}
a,
a:link,
a:visited,
a:hover,
a:active
{
    text-decoration: none;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
body,
html
{
    height: 100%;
}
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '';
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
